<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="script/angular.min.js"></script>
    <script>
        var module=angular.module("myModule",[]);
      module.controller("myController",function($scope,$http)
      {
        $scope.getTeachers=function()
        {
            var url="/get-teachers";
            $http.get(url).then(done,fail);
            function done(response)
            {
                $scope.JSONteachersArray=response.data;
            }
            function fail(response)
            {
                alert(response.data);
            }
        }
        //=================================================
        $scope.getStudents=function()
        {
            var url="/get-students";
            $http.get(url).then(done,fail);
            function done(response)
            {
                $scope.JSONstudentsArray=response.data;
            }
            function fail(response)
            {
                alert(response.data);
            }
        }
        //=================================================
        $scope.doBlock=function(eid,acctype)
        {
            // alert(JSON.stringify(eid));
            if(confirm("Are you sure you want to block this "+acctype+"?")==false)
            {
                return;
            }
            var url="/block-user?emailkuch="+eid;
            $http.get(url).then(done,fail);
            function done(response)
            {
                if(acctype=="Teacher")
                {
                    $scope.getTeachers();
                }
                if(acctype=="Student")
                {
                    $scope.getStudents();
                }
                // alert(response.data);       
            }
            function fail(response)
            {
                alert(response.data);
            }
        }
        //=======================================================
        $scope.doUnblock=function(eid,acctype)
        {
            // alert(JSON.stringify(eid));
            if(confirm("Are you sure you want to unblock this "+acctype+"?")==false)
            {
                return;
            }
            var url="/unblock-user?emailkuch="+eid;
            $http.get(url).then(done,fail);
            function done(response)
            {
                if(acctype=="Teacher")
                {
                    $scope.getTeachers();
                }
                if(acctype=="Student")
                {
                    $scope.getStudents();
                }
                // alert(response.data);       
            }
            function fail(response)
            {
                alert(response.data);
            }
        }
      })
    </script>
  </head>
  <body ng-app="myModule" ng-controller="myController">
    <center>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <span class="navbar-brand mb-0 h1">Navbar</span>
            </div>
          </nav>
        <div class="mt-5">
            <button type="button" class="btn btn-success btn-lg" ng-click="getTeachers();">Show Teachers</button>
            <br><br><br><br>
            <div class="container mt-3">
                <table class="table table-dark table-striped table-hover table-bordered">
                <tr align="center">
                    <th>S.No</th>
                    <th>Email</th>
                    <th>Date of signUp</th>
                    <th>Status</th>
                    <th>Operations</th>
                </tr>
                <tr ng-repeat="obj in JSONteachersArray" align="center">
                    <td>{{$index+1}}</td>
                    <td>{{obj.email}}</td>
                    <td>{{obj.dos}}</td>
                    <td>{{obj.status}}</td>
                    <td>
                        <table>
                        <tr>
                            <td>
                                <button class="btn btn-outline-warning" type="button" ng-click="doBlock(obj.email,obj.type);">Block</button>
                            </td>
                            <td>
                                <button class="btn btn-outline-warning" type="button" ng-click="doUnblock(obj.email,obj.type);">Unblock</button>
                            </td>
                        </tr>
                    </table>
                    </td>
                </tr>
                </table>
                <br><br><br>
            <button type="button" class="btn btn-danger btn-lg" ng-click="getStudents();">Show Students</button>
            <br><br><br><br>
            <div class="container mt-3">
                <table class="table table-dark table-striped table-hover table-bordered">
                <tr align="center">
                    <th>S.No</th>
                    <th>Email</th>
                    <th>Date of signUp</th>
                    <th>Status</th>
                    <th>Operations</th>
                </tr>
                <tr ng-repeat="obj in JSONstudentsArray" align="center">
                    <td>{{$index+1}}</td>
                    <td>{{obj.email}}</td>
                    <td>{{obj.dos}}</td>
                    <td>{{obj.status}}</td>
                    <td>
                        <table>
                            <tr cellspacing="10">
                                <td>
                                    <button class="btn btn-outline-warning" type="button" ng-click="doBlock(obj.email,obj.type);">Block</button>
                                </td>
                                <td>
                                    <button class="btn btn-outline-warning" type="button" ng-click="doUnblock(obj.email,obj.type);">Unblock</button>
                                </td>
                            </tr>
                        </table>
                </tr>
                </table>
          </div>

    </center>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>