<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="script/angular.min.js"></script>
    <script>
        var module=angular.module("myModule",[]);
      module.controller("myController",function($scope,$http)
      {
        $scope.txtTopic;
        $scope.doe;
        $scope.Starttime;
        $scope.Endtime;
        $scope.utxtTopic;
        $scope.udoe;
        $scope.uStarttime;
        $scope.uEndtime;
        $scope.selectedQuestionEasy={};
        $scope.selectedQuestionMedium={};
        $scope.selectedQuestionHard={};
        //==========================================================
        $scope.getQuestions=function()
        {
            // alert("hello");
            var url="/get-questions";
            $http.get(url).then(done,fail);
            function done(response)
            {
                // alert(JSON.stringify(response.data));
                $scope.questionJsonArray=response.data;
            }
            function fail(response)
            {
                alert(response.data);
            }
        }
        //==========================================================
        $scope.addExams=function()
        {
            var url="/add-exams-angular?topickuch="+$scope.txtTopic+"&datekuch="+$scope.doe+"&startkuch="+$scope.Starttime+"&endkuch="+$scope.Endtime;
            $http.get(url).then(done,fail);
            function done(response)
            {
                alert(response.data);
            }
            function fail(response)
            {
                alert(response.data);
            }
        }
        //==========================================================
        $scope.getExams=function()
        {
            var url="/get-exams-angular";
            $http.get(url).then(done,fail);
            function done(response)
            {
                // alert(JSON.stringify(response.data));
                $scope.examsJSONarray=response.data;
            }
            function fail(response)
            {
                alert(response.data);
            }
        }
        //==========================================================
        $scope.getexamID=function(eID)
        {
            // alert(eID);
            $scope.updateexamArray=angular.copy($scope.examsJSONarray[eID-1]);
            alert(JSON.stringify($scope.updateexamArray));
            $scope.utxtTopic=$scope.updateexamArray.topic;
            $scope.udoe=$scope.updateexamArray.doe;
            $scope.uStarttime=$scope.updateexamArray.starttime;
            $scope.uEndtime=$scope.updateexamArray.endtime;
            alert($scope.uEndtime);
            alert($scope.uStarttime);
            alert($scope.utxtTopic);
            alert($scope.udoe);
        }
        //==========================================================
        $scope.updateExams=function()
        {
            var url="update-exam";
            $http.post(url,$scope.updateexamArray).then(done,fail);
            function done(response)
            {
                alert(response.data);
            }
            function fail(response)
            {
                alert(response.data);
            }
        }
      })
    </script>
  </head>
  <body ng-app="myModule" ng-controller="myController">
    <center>
        <br>
        <button type="button" class="btn btn-outline-info btn-lg">Organise Exam</button>
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addExam">Add</button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-warning" ng-click="getExams();">Update</button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-dark">Remove</button>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-dark table-striped-columns table-hover">
                        <tr align="center">
                           <th>Id</th>
                           <th>Topic</th>
                           <th>Date of Exam</th>
                           <th>Start time</th>
                           <th>End time</th> 
                           <th>Operation</th>
                        </tr>
                        <tr ng-repeat="obj in examsJSONarray" align="center">
                            <td>{{obj.srno}}</td>
                            <td>{{obj.topic}}</td>
                            <td>{{obj.doe}}</td>
                            <td>{{obj.starttime}}</td>
                            <td>{{obj.endtime}}</td>
                            <td><button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#updateExam" ng-click="getexamID(obj.srno);">Update</button></td>
                        </tr>
                      </table>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-outline-success btn-lg" ng-click="getQuestions();">Select questions</button>
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-6">
                    <h3>Easy</h3>
                </div>
                <div class="col-md-6">
                    <select class="form-select" multiple aria-label="Multiple select example" ng-options="obj.ques for obj in questionJsonArray[0]" ng-model="selectedQuestionEasy">
                        <option >select this menu</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-6">
                    <h3>Medium</h3>
                </div>
                <div class="col-md-6">
                    <select class="form-select" multiple aria-label="Multiple select example" ng-options="obj.ques for obj in questionJsonArray[1]" ng-model="selectedQuestionMedium">
                        <option >select this menu</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-6">
                    <h3>Hard</h3>
                </div>
                <div class="col-md-6">
                    <select class="form-select" multiple aria-label="Multiple select example" ng-options="obj.ques for obj in questionJsonArray[2]" ng-model="selectedQuestionHard">
                        <option >select this menu</option>
                    </select>
                </div>
            </div>
        </div>
    </center>

























   
  <!-- Modal  Add  Exam-->
  <div class="modal fade" id="addExam" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Exam</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container mt-2">
                <div class="row mt-2">
                    <div class="col-md-6">
                        <h4>Topic of Exam:</h4>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" ng-model="txtTopic" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <h4>Date of exam:</h4>
                    </div>
                    <div class="col-md-6">
                        <input type="date" class="form-control" ng-model="doe" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <h4>Start Time of Exam:</h4>
                    </div>
                    <div class="col-md-6">
                        <input type="time" class="form-control" ng-model="Starttime" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <h4>End time of exam:</h4>
                    </div>
                    <div class="col-md-6">
                        <input type="time" class="form-control" ng-model="Endtime" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" ng-click="addExams();">Add</button>
        </div>
      </div>
    </div>
  </div>


















  <!-- Modal  Update  Exam-->
  <div class="modal fade" id="updateExam" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Exam</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container mt-2">
                <div class="row mt-2">
                    <div class="col-md-6">
                        <h4>Topic of Exam:</h4>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" ng-model="utxtTopic" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <h4>Date of exam:</h4>
                    </div>
                    <div class="col-md-6">
                        <input type="date" class="form-control" ng-model="udoe" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <h4>Start Time of Exam:</h4>
                    </div>
                    <div class="col-md-6">
                        <input type="time" class="form-control" ng-model="uStarttime" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <h4>End time of exam:</h4>
                    </div>
                    <div class="col-md-6">
                        <input type="time" class="form-control" ng-model="uEndtime" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" ng-click="updateExams();">Update</button>
        </div>
      </div>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>