<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="script/angular.min.js"></script>
    <script>
        var module=angular.module("myModule",[]);
        module.controller("myController",function($scope,$http)
        {
            $scope.JsonArray;
            $scope.FetchAllRecords=function()
            {
                var url="/get-angular-user-details";
                $http.get(url).then(done,fail);
                function done(response)
                {
                    alert(JSON.stringify(response.data));
                    $scope.JsonArray=response.data;
                }
                function fail(response)
                {
                    alert(response.data);
                }
            }
            $scope.doDelete=function(email)
            {
                        if(confirm("Are you sure you want to delete this user")==false)
                            return;
                            var url="/delete-users-angular?kuchEmail="+email;
                            $http.get(url).then(done,fail);
                            
                                function done(response)
                                {
                                    // alert(response.data);
                                    $scope.FetchAllRecords();
                                }
                                function fail(response)
                                {
                                    alert(response.data);
                                }
                            
                            
            }
            $scope.doBlock=function(email,pwd)
            {
                if(confirm("Are you sure you want to block this user")==false)
                return;
                var url="/block-user-angular?emailKuch="+email+"&pwdKuch="+pwd;
                $http.get(url).then(done,fail);
                
                    function done(response)
                    {
                        // alert(response.data);
                        $scope.FetchAllRecords();
                    }
                    function fail(response)
                    {
                        alert(response.data);
                    }
                     
            }
            $scope.doResume=function(email,pwd)
            {
                if(confirm("Are you sure you want to resume this user")==false)
                return;
                var url="/resume-user-angular?emailKuch="+email+"&pwdKuch="+pwd;
                $http.get(url).then(done,fail);
                
                    function done(response)
                    {
                        // alert(response.data);
                        $scope.FetchAllRecords();
                    }
                    function fail(response)
                    {
                        alert(response.data);
                    }
                     
            }
           
        })
    </script>
  </head>
  <body ng-app="myModule" ng-controller="myController">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand">Navbar</a>
          <form class="d-flex" role="search">
            <button class="btn btn-outline-success" type="submit">Logout</button>
          </form>
        </div>
      </nav>
      <center>
        <br>
        <button type="button" class="btn btn-primary btn-lg" ng-click="FetchAllRecords();">Fetch all users</button>
        <br><br>
        <table class="table table-striped table-hover table-bordered">
            <tr align="center">
                <th>S.No</th>
                <th>Email</th>
                <th>Pwd</th>
                <th>Type</th>
                <th>Dos</th>
                <th>Status</th>
                <th>Operations</th>
            </tr>
            <tr ng-repeat="obj in JsonArray" align="center">
                <td>{{$index+1}}</td>
                <td>{{obj.email}}</td>
                <td>{{obj.pwd}}</td>
                <td>{{obj.type}}</td>
                <td>{{obj.dos}}</td>
                <td>{{obj.status}}</td>
                <td>
            <button class="btn btn-outline-success" type="button" ng-click="doDelete(obj.email);">Delete</button>
            <button class="btn btn-outline-success" type="button" ng-click="doBlock(obj.email,obj.pwd);">Block</button>
            <button class="btn btn-outline-success" type="button" ng-click="doResume(obj.email,obj.pwd);">Resume</button>
                </td>
            </tr>
          </table>
      </center>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>