<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <script src="script/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <link rel="stylesheet" href="custom.css">
  <script>
    //  $(document).ready(function()
    //  {
    //   var pic=[""];
    //   var name=["KODO MILLET","LITTLE MILLET","FOXTAIL MILLET","PROSO MILLET"];
    //   var price=["Rs. 70","Rs. 80","Rs. 90","Rs.100"];
    //   var qty=[$("#txtQty_1").val(),$("#txtQty_2").val(),$("#txtQty_3").val(),$("#txtQty_4").val()];
    //   function SendToCart()
    //   {
    //     alert("hello");
    //   }
    //  })
     var module=angular.module("myModule",[]);
        module.controller("myController",function($scope,$http)
        {
          $scope.pic=["3ba9043f63f5a9626997a573126f6147.jpeg","6a6223fa-82fa-47b7-a049-e2048f5c0f71.312607e3aabe9dac4e7aa2d6dd7d6da1.webp","40075360_2-manna-millet-foxtail.webp","40075362_2-manna-millet-proso.webp"];
          $scope.name=["KODO MILLET","LITTLE MILLET","FOXTAIL MILLET","PROSO MILLET"];
          $scope.price=["Rs. 70","Rs. 80","Rs. 90","Rs. 100"];
          $scope.qty=[0,0,0,0];
          $scope.SendToCart=function(index)
          {
            // alert($scope.pic[index]);
            // alert($scope.name[index]);
            // alert($scope.price[index]);
            // alert($scope.qty[index]);
            var url="/send-to-cart?namekuch="+$scope.name[index]+"&pricekuch="+$scope.price[index]+"&qtykuch="+$scope.qty[index]+"&pickuch="+$scope.pic[index];
            $http.get(url).then(done,fail);
            function done(response)
            {
              alert(JSON.stringify(response.data));
            }
            function fail(response)
            {
              alert(response.data);
            }
          }
          $scope.getCartItems=function()
          {
            var url="/get-cart-items";
            $http.get(url).then(done,fail);
            function done(response)
            {
              // alert(JSON.stringify(response.data));
              $scope.cartItemsArray=response.data;
              localStorage.setItem("cartItems",JSON.stringify($scope.cartItemsArray));
              // $scope.array=localStorage.getItem("cartItems");
              // alert($scope.array);
              // alert($scope.cartItemsArray.length)
              // alert(JSON.stringify($scope.cartItemsArray));
              if($scope.cartItemsArray.length!=0)
                location.href="cart.html";
              else location.href="empty-cart.html";
            }
            function fail(response)
            {
              alert(response.data);
            }
          }
        })
  </script>
  <style>
    .btn1
    {
      border: 1px solid black;
      border-radius: 5px;
      padding: 8px;
      color: white;
      font-size: 20px;
      background-color: black;
      text-align: center;
      text-decoration: none;

    }
  </style>
</head>
<body ng-app="myModule" ng-controller="myController" >
  <nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
        aria-controls="offcanvasWithBothOptions">
        <span class="navbar-toggler-icon"></span>
        <div style="display: inline;">Shop</div>
      </button>
      <a class="navbar-brand" href="#">
        <img src="pics/millmoret logo.jpg" alt="Bootstrap" width="100" height="100">
        <span class="fs-3">Nature's Divine Secret</span>
      </a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 400px;">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <button style="border: 0;" ng-click="getCartItems();"><i class="fa-solid fa-cart-plus fa-2xl"></i></button>
    </div>
  </nav>
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="pics/360_F_357002552_3qc5gSkzMsjUpwvP9ZDTIBJFxHtmrgKk.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="pics/a0f45e464e87e17a73f23cc473afef45.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="pics/banner-1-1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container bs-success-bg-subtle mt-3">
    <div class="row bs-success">
      <div class="col-md-12 text-center fs-3 fw-semibold">
        Our Categories
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-3">
      <div class="card text-bg-dark">
        <img src="pics/AdobeStock_136693348.jpeg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Bakery</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <p class="card-text"><small>Last updated 3 mins ago</small></p>
          <div class="text-end">
            <a href="#" class="btn1">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-bg-dark">
        <img src="pics/thumb-1920-1023916.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Breakfast</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <p class="card-text"><small>Last updated 3 mins ago</small></p>
          <div class="text-end">
            <a href="#" class="btn1">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-bg-dark">
        <img src="pics/Nutricereals_for_nutritional_security.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Unprocessed Millets</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <p class="card-text"><small>Last updated 3 mins ago</small></p>
          <div class="text-end">
            <a href="#" class="btn1">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-bg-dark">
        <img src="pics/wp7845891.jpg" class="card-img" alt="...">
        <div class="card-img-overlay ">
          <h5 class="card-title">Special Recepies</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <p class="card-text"><small>Last updated 3 mins ago</small></p>
          <div class="text-end">
            <a href="#" class="btn1">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="container bs-success-bg-subtle mt-3">
    <div class="row bs-success">
      <div class="col-md-12 text-center fs-3 fw-semibold">
        Our Products
      </div>
    </div>
  </div>
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-3">
        <div class="card" >
          <img src="pics/3ba9043f63f5a9626997a573126f6147.jpeg" class="card-img-top" alt="..." >
          <div class="card-body">
            <h5 class="card-title"><input type="text" style="border: none;" readonly ng-model="name[0]"></h5>
          </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><input type="text" style="border: none;" readonly ng-model="price[0]"></li>
              <li class="list-group-item">Qty&nbsp;&nbsp;<input type="number" ng-model="qty[0]"></li>
            </ul>
            <div class="card-body text-center">
                <button type="button" class="btn btn-primary" style="width: 100%; border-radius: 0%;" ng-click="SendToCart(0);">Add To Cart</button>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" >
          <img src="pics/6a6223fa-82fa-47b7-a049-e2048f5c0f71.312607e3aabe9dac4e7aa2d6dd7d6da1.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><input type="text" style="border: none;" readonly ng-model="name[1]"></h5>
          </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><input type="text" style="border: none;" readonly ng-model="price[1]"></li>
              <li class="list-group-item">Qty&nbsp;&nbsp;<input type="number" ng-model="qty[1]"></li>
            </ul>
              <div class="card-body text-center">
                <button type="button" class="btn btn-primary" style="width: 100%; border-radius: 0%;" ng-click="SendToCart(1);">Add To Cart</button>
              </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" >
          <img src="pics/40075360_2-manna-millet-foxtail.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><input type="text" style="border: none;" readonly ng-model="name[2]"></h5>
          </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><input type="text" style="border: none;" readonly ng-model="price[2]"></li>
              <li class="list-group-item">Qty&nbsp;&nbsp;<input type="number" ng-model="qty[2]"></li>
            </ul>
              <div class="card-body text-center">
                <button type="button" class="btn btn-primary" style="width: 100%; border-radius: 0%;" ng-click="SendToCart(2);">Add To Cart</button>
              </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" >
          <img src="pics/40075362_2-manna-millet-proso.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><input type="text" style="border: none;" readonly ng-model="name[3]"></h5>
          </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><input type="text" style="border: none;" readonly ng-model="price[3]"></li>
              <li class="list-group-item">Qty&nbsp;&nbsp;<input type="number" ng-model="qty[3]"></li>
            </ul>
              <div class="card-body text-center">
                <button type="button" class="btn btn-primary" style="width: 100%; border-radius: 0%;" ng-click="SendToCart(3);">Add To Cart</button>
              </div>
        </div>
      </div>
    </div>
  </div>
 <div class="container mt-3">
  <div class="row text-center">
    <div class="col-md-12 ">
      <button type="button" class="btn btn-dark "
        style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: .8rem; --bs-btn-font-size: 1.2rem; --bs-btn-border-radius: 0.4rem;">
  View All
</button>
    </div>
  </div>
 </div>
 










  <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
    aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Categories</h5>
    </div>
    <div class="offcanvas-body">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Bakery
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            A list item
            <span class="badge bg-primary rounded-pill">14</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            A second list item
            <span class="badge bg-primary rounded-pill">2</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            A third list item
            <span class="badge bg-primary rounded-pill">1</span>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </div>









  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>

</html>